.workspaces {
  margin-left: -0.5em;
  button {
    // height: 1em;
    min-width: 1em;
    padding: 0 0.25em;
    padding-top: 0.2rem;
    padding-bottom: 0.1rem;
    color: rgba(255,255,255,0.2);
    &:hover {
      background: rgba(97, 97, 97, 0.287);
    }
  
    &.occupied {
      color: white;
      // background: rgba(211, 93, 111, 0.221);
    }
    
    &.active {
      background: $accent;
      color: black;
    }
    
    &.urgent {
      background: #fa302c;
    }
  }
}
