spawn-at-startup "awww-daemon"
spawn-sh-at-startup "awww img ~/Pictures/firewatch.png -t none"
spawn-at-startup "elephant"
spawn-sh-at-startup "walker --gapplication-service"

input {
    focus-follows-mouse max-scroll-amount="15%"
    warp-mouse-to-focus

    keyboard {
        xkb {
            layout "ie"
        }
        repeat-delay 200
        repeat-rate 35
        numlock
    }
    touchpad {
        tap
        natural-scroll
    }
}

prefer-no-csd

blur {
    on
    passes 3
    offset 3
    noise 0.02
    saturation 1.5
}

layout {
    gaps 6

    focus-ring {
        on
        width 1
    }

    shadow {
        on
        softness 10
        spread 3
        offset x=0 y=5
        draw-behind-window true
        color "#00000054"
        inactive-color "#00000080"
    }
}

window-rule {
    match app-id="^Alacritty$"

    draw-border-with-background false
    background-effect {
        blur true
    }
}
window-rule {
    match app-id="walker"

    background-effect {
        blur false
    }
}

// layer-rule {
//     match layer="bottom"
//     match layer="top"
//     match layer="overlay"
//
//     background-effect {
//         blur true
//     }
//
// }

//     // Alternative commands that move across workspaces when reaching
//     // the first or last window in a column.
//
//     Mod+Home { focus-column-first; }
//     Mod+End  { focus-column-last; }
//     Mod+Ctrl+Home { move-column-to-first; }
//     Mod+Ctrl+End  { move-column-to-last; }
//
//     Mod+Shift+Left  { focus-monitor-left; }
//     Mod+Shift+Down  { focus-monitor-down; }
//     Mod+Shift+Up    { focus-monitor-up; }
//     Mod+Shift+Right { focus-monitor-right; }
//     Mod+Shift+H     { focus-monitor-left; }
//     Mod+Shift+J     { focus-monitor-down; }
//     Mod+Shift+K     { focus-monitor-up; }
//     Mod+Shift+L     { focus-monitor-right; }
//
//     Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
//     Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
//     Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
//     Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
//     Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
//     Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
//     Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
//     Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }
//
//
//
//     Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
//     Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
//     Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
//     Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }
//
//     Mod+WheelScrollRight      { focus-column-right; }
//     Mod+WheelScrollLeft       { focus-column-left; }
//     Mod+Ctrl+WheelScrollRight { move-column-right; }
//     Mod+Ctrl+WheelScrollLeft  { move-column-left; }
//
//     // Usually scrolling up and down with Shift in applications results in
//     // horizontal scrolling; these binds replicate that.
//     Mod+Shift+WheelScrollDown      { focus-column-right; }
//     Mod+Shift+WheelScrollUp        { focus-column-left; }
//     Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
//     Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }
